# Copyright lowRISC contributors (OpenTitan project).
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

# https://opentitan.org/book/doc/contributing/style_guides/c_cpp_coding_style.html#c-version 
# specifies C++17 and C11.
build --action_env=BAZEL_CXXOPTS="-std=gnu++17"
build --cxxopt='-std=gnu++17'
build --conlyopt='-std=gnu11'

# Override default enablement of CRT flags.
build --features=-all_warnings_as_errors

# Enable toolchain resolution with cc
build --incompatible_enable_cc_toolchain_resolution

# Versioning
build --workspace_status_command=util/get_workspace_status.sh

# Enable the rust nightly toolchain
build --@rules_rust//rust/toolchain/channel=nightly
build --@rules_rust//cargo/settings:use_default_shell_env=False

# Import site-specific configuration.
try-import .bazelrc-site
