# Copyright lowRISC contributors (OpenTitan project).
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

sku: "cr01"
slotId: 0
numSessions: 3
certCountX509: 7
certCountCWT: 0
symmetricKeys:
  - name: eg-kdf-hisec-v0
  - name: eg-kdf-losec-v0
certs:
  - name: RootCA
    path: sku/eg/common/ca/opentitan-ca-root-v0.priv.der
  - name: SigningKey/Dice/v0
    path: sku/eg/cr/ca/cr01-ica-dice-key-p256-v0.priv.der
  - name: SigningKey/Ext/v0
    path: sku/eg/cr/ca/cr01-ica-ext-key-p256-v0.priv.der
privateKeys:
    - name: cr01-ica-dice-key-p256-v0.priv
    - name: cr01-ica-ext-key-p256-v0.priv
    - name: spm-hsm-id-v0.priv
publicKeys:
    - name: sku-eg-rsa-rma-v0.pub
attributes:
    SeedSecHi: eg-kdf-hisec-v0
    SeedSecLo: eg-kdf-losec-v0
    WASKeyLabel: eg-kdf-hisec-v0
    WASDisable: false
    WrappingMechanism: ${OTPROV_WrappingMechanism}
    WrappingKeyLabel: sku-eg-rsa-rma-v0.pub
    UseV1Blob: "${OTPROV_UseV1Blob}"
    SigningKey/Dice/v0: cr01-ica-dice-key-p256-v0.priv
    SigningKey/Ext/v0: cr01-ica-ext-key-p256-v0.priv
    SigningKey/Identity/v0: spm-hsm-id-v0.priv
    CertChainDiceLeaf: CDI_1
    OwnerFirmwareBootMessage: "Key ladder state: Prod"
x509CertHashOrder:
    - UDS
    - CDI_0
    - CDI_1
    - TPM EK
    - TPM CEK
    - TPM CIK
    - CROS UDS
