# Copyright lowRISC contributors (OpenTitan project).
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

skuAuthCfgList:
  "sival":
    # bcrypt hash of "test_password" (used by .../pa/loadtest.go)
    skuAuth: "$2a$10$7ZjR5zTQpig.aomnunzte.Ve1eW4GT2ACx1iy4fxtfzysprfrNMfG"
    methods: ["DeriveTokens", "GetCaSubjectKeys", "EndorseCerts", "GetCaCerts", "GetOwnerFwBootMessage", "RegisterDevice"]
  "test_mldsa":
    # bcrypt hash of "test_password" (used by .../pa/loadtest.go)
    skuAuth: "$2a$10$7ZjR5zTQpig.aomnunzte.Ve1eW4GT2ACx1iy4fxtfzysprfrNMfG"
    methods: ["DeriveTokens", "GetCaSubjectKeys", "EndorseCerts", "GetCaCerts", "GetOwnerFwBootMessage", "RegisterDevice"]
  "cr01":
    # bcrypt hash of "test_password" (used by .../pa/loadtest.go)
    skuAuth: "$2a$10$7ZjR5zTQpig.aomnunzte.Ve1eW4GT2ACx1iy4fxtfzysprfrNMfG"
    methods: ["DeriveTokens", "GetCaSubjectKeys", "EndorseCerts", "GetCaCerts", "GetOwnerFwBootMessage", "RegisterDevice"]
  "pi01":
    # bcrypt hash of "test_password" (used by .../pa/loadtest.go)
    skuAuth: "$2a$10$7ZjR5zTQpig.aomnunzte.Ve1eW4GT2ACx1iy4fxtfzysprfrNMfG"
    methods: ["DeriveTokens", "GetCaSubjectKeys", "EndorseCerts", "GetCaCerts", "GetOwnerFwBootMessage", "RegisterDevice"]
  "ti01":
    # bcrypt hash of "test_password" (used by .../pa/loadtest.go)
    skuAuth: "$2a$10$7ZjR5zTQpig.aomnunzte.Ve1eW4GT2ACx1iy4fxtfzysprfrNMfG"
    methods: ["DeriveTokens", "GetCaSubjectKeys", "EndorseCerts", "GetCaCerts", "GetOwnerFwBootMessage", "RegisterDevice"]
