# Copyright lowRISC contributors (OpenTitan project).
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: Pod
metadata:
  labels:
    app: provapp
  name: provapp
spec:
  hostNetwork: true
  containers:
  # Configuration for the `paserver` container.
  - name: paserver-1
    args:
    - --enable_tls=true
    - --enable_mlkem=${ENABLE_MLKEM}
    - --service_key=/var/lib/opentitan/config/certs/out/pa-service-key.pem
    - --service_cert=/var/lib/opentitan/config/certs/out/pa-service-cert.pem
    - --ca_root_certs=/var/lib/opentitan/config/certs/out/ca-cert.pem
    - --port=${OTPROV_PORT_PA}
    - --spm_address=${OTPROV_DNS_SPM}:${OTPROV_PORT_SPM}
    - --enable_registry
    - --registry_address=${OTPROV_DNS_PB}:${OTPROV_PORT_PB}
    # TODO: Update label to point to specific release version.
    image: localhost/pa_server:latest
    resources: {}
    ports:
      - containerPort: ${OTPROV_PORT_PA}
    securityContext:
      capabilities:
        drop:
        - CAP_MKNOD
        - CAP_NET_RAW
        - CAP_AUDIT_WRITE
    volumeMounts:
    - mountPath: /var/lib/opentitan/config
      name: var-lib-opentitan-spm-config-0
  - name: paserver-2
    args:
    - --enable_tls=true
    - --enable_mlkem=${ENABLE_MLKEM}
    - --service_key=/var/lib/opentitan/config/certs/out/pa-service-key.pem
    - --service_cert=/var/lib/opentitan/config/certs/out/pa-service-cert.pem
    - --ca_root_certs=/var/lib/opentitan/config/certs/out/ca-cert.pem
    - --port=${OTPROV_PORT_PA_2}
    - --spm_address=${OTPROV_DNS_SPM}:${OTPROV_PORT_SPM}
    - --enable_registry
    - --registry_address=${OTPROV_DNS_PB}:${OTPROV_PORT_PB}
    # TODO: Update label to point to specific release version.
    image: localhost/pa_server:latest
    resources: {}
    ports:
      - containerPort: ${OTPROV_PORT_PA_2}
    securityContext:
      capabilities:
        drop:
        - CAP_MKNOD
        - CAP_NET_RAW
        - CAP_AUDIT_WRITE
    volumeMounts:
    - mountPath: /var/lib/opentitan/config
      name: var-lib-opentitan-spm-config-0
  - name: paserver-3
    args:
    - --enable_tls=true
    - --enable_mlkem=${ENABLE_MLKEM}
    - --service_key=/var/lib/opentitan/config/certs/out/pa-service-key.pem
    - --service_cert=/var/lib/opentitan/config/certs/out/pa-service-cert.pem
    - --ca_root_certs=/var/lib/opentitan/config/certs/out/ca-cert.pem
    - --port=5005
    - --spm_address=${OTPROV_DNS_SPM}:${OTPROV_PORT_SPM}
    - --enable_registry
    - --registry_address=${OTPROV_DNS_PB}:${OTPROV_PORT_PB}
    # TODO: Update label to point to specific release version.
    image: localhost/pa_server:latest
    resources: {}
    ports:
      - containerPort: 5005
    securityContext:
      capabilities:
        drop:
        - CAP_MKNOD
        - CAP_NET_RAW
        - CAP_AUDIT_WRITE
    volumeMounts:
    - mountPath: /var/lib/opentitan/config
      name: var-lib-opentitan-spm-config-0
  - name: pbserver
    args:
    - --enable_tls=true
    - --enable_mlkem=${ENABLE_MLKEM}
    - --service_key=/var/lib/opentitan/config/certs/out/pb-service-key.pem
    - --service_cert=/var/lib/opentitan/config/certs/out/pb-service-cert.pem
    - --ca_root_certs=/var/lib/opentitan/config/certs/out/ca-cert.pem
    - --port=${OTPROV_PORT_PB}
    - --db_path=file::memory:?cache=shared
    # TODO: Update label to point to specific release version.
    image: localhost/pb_server:latest
    resources: {}
    ports:
      - containerPort: ${OTPROV_PORT_PB}
    securityContext:
      capabilities:
        drop:
        - CAP_MKNOD
        - CAP_NET_RAW
        - CAP_AUDIT_WRITE
    volumeMounts:
    - mountPath: /var/lib/opentitan/config
      name: var-lib-opentitan-spm-config-0
  restartPolicy: Always
  volumes:
  - hostPath:
      path: ${OPENTITAN_VAR_DIR}/config
      type: Directory
    name: var-lib-opentitan-spm-config-0
status: {}
